@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	/* background-color: #1c1c25; */
	background-color: #2f303a;
	overflow: hidden;
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
