.container-profile {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	/* overflow: hidden; */
	margin: 0;
}

.err-text {
	color: rgb(245, 13, 13);
}
