.profile {
	/* margin: -100px 0 0 0; */
	background: rgba(255, 255, 255, 0.3);
	padding: 3em;
	height: 300px;
	width: 250px;
	border-radius: 20px;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(5px);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
	text-align: left;
	position: relative;
	color: #fff;
}

.input {
	display: block;
	margin-top: 10px;
	height: 30px;
	width: 150px;
	border-radius: 50px;
	background: transparent;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 18px;
	font-weight: bold;
	color: grey;
}

.input:hover {
	background: lightgreen;
	cursor: pointer;
}
