@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

/* section::before {
	content: '';
	position: absolute;
	top: 30%;
	left: 40%;
	height: 400px;
	width: 400px;
	background: linear-gradient(#f00, #f0f);
	border-radius: 50%;
} */

.login-form {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px);
	transform-style: preserve-3d;
	/* background-color: rgba(0, 0, 0, 0.4); */
	padding: 20px 40px;
	border-radius: 10px;
}

.container h1 {
	text-align: center;
	margin-bottom: 30px;
}

.container a {
	text-decoration: none;
	color: lightblue;
}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: lightblue;
	padding: 15px;
	font-family: inherit;
	font-size: 18px;
	border: 0;
	border-radius: 10px;
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}

.signup-btn {
	cursor: pointer;
	border: none;
	font-family: inherit;
	font-size: 17px;
	border: 0;
	border-radius: 10px;
	background: transparent;
	margin: 5px;
	color: #2296f3;
}

.signup-btn:focus {
	outline: 0;
}

.signup-btn:active {
	transform: scale(1);
}

.text {
	margin-top: 30px;
	text-align: center;
}

.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #2196f3;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	color: #fff;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: lightblue;
}

.label {
	position: absolute;
	top: 15px;
	left: 0;
}

.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
	color: lightblue;
	transform: translateY(-30px);
}
