.container_clinics_list {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

.card {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	height: 500px;
	width: 300px;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px);
	box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
	transition: transform 100ms ease-in;
	cursor: pointer;
	color: #fff;
}

.card:hover {
	transform: scale(1.07);
}

/* .card img {
	object-fit: fill;
	min-width: 300px;
	min-height: 200px;
	width: 100%;
} */

.card__info {
	margin: -9px;
	border-radius: 10px;
	padding: 20px;
	/* padding-top: 20px; */
	border: 1;
}

.card__info h2 {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.card__info h3 {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.card__info h4 {
	font-size: 14px;
	font-weight: 300;
	margin-top: 8px;
	margin-bottom: 8px;
}

.card a {
	text-decoration: none;
	color: #fff;
}

.card span {
	margin: 5px;
}

a {
	text-decoration: none;
	color: #fff;
}
