.search-container {
	text-align: center;
}

#search {
	width: 30%;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Muli', sans-serif;
	padding: 8px;
	border: none;
	border-radius: 7px;
	outline: 0;
	margin-top: 40px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.submit-btn {
	cursor: pointer;
	display: inline-block;
	width: 12%;
	background: lightblue;
	padding: 8px;
	font-family: inherit;
	font-size: 18px;
	border: 0;
	border-radius: 10px;
	margin: 12px;
}

.submit-btn:focus {
	outline: 0;
}

.submit-btn:active {
	transform: scale(0.98);
}
